body, * {
	font-family:"myriad pro";
}

section {
	margin: 0;
	padding: 0;
}

.subhead > div:first-child {
	min-height: 150px;
}

.preload {
	text-align: center;
}
.preload .icon {
	height: 31px;
	background:transparent url('../img/371.gif') no-repeat center center ;
}